/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#navigation {
    background-color: darkcyan;
    transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    height:'100px';
}

#navigationcolor {
    transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    height:'100px';
}

.igation {
    background-color: darkcyan;
    transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    height:'300px';
}

.serviceBack {
    background-color: darkcyan;
    color: white;
}